* {
    margin: 0px;
}
body {
    background-color:rgb(175, 52, 25) ;
}
nav {
    background-color: rgb(175, 52, 25);
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    background-color:rgb(131, 46, 27)
}

.logoimg {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.heroimage {
    background-image: url("./Te Puia Resources/TePuia_1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
    min-height: 80vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .actheroimage {
    background-image: url("./Te Puia Resources/tepuia-logo-w.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
    min-height: 80vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutheroimage {
    background-image: url("./Te Puia Resources/cards/20161214_072945000_iOS-1024x768.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
    min-height: 80vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.heroflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.herotitle {
    scale: 650%;
    color:white;
    text-shadow: 0px 1px 10px #000000;
}

.herotext {
    scale: 150%;
    padding: 80px;
    color: white;
    text-shadow: 0px 4px 8px #000000;
    font-family:fantasy;
}

p {
    color: white;
}

h1 {
    color:white;
}

.twocolumn {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 50px;
    background-color:rgb(175, 52, 25);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: whitesmoke;
}
.imgcard {
    width: 33.33vw;
}

main a {
    color: rgb(174, 53, 25);
    display: block;
    text-decoration: none;
    padding: 30px;
}
main a:hover {
    background-color:rgb(230, 230, 230)
}

.cardtext {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    background-color: rgb(174, 53, 25);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footerlogo {
    background-color: rgb(174, 53, 25);
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlogoimg {
    width: 7%;
    padding-left: 10px;
    padding-right: 30px;
    display: inline-block;
}

.contact {
    color: white;
    padding-right: 30px;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.actcards {
    padding-top:30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color:rgb(175, 52, 25);
}
.actcards2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color:rgb(175, 52, 25);
}
.actimgcard {
    width: 33.33vw;
}
.acttext {
    color:rgb(255, 255, 255);
    font-size: 2rem;
}


.cardwhite {
    text-align: center;
    margin-top: 0px;
    background-color: whitesmoke;
}

.card {
    text-align: center;
    margin-top: 0px;
}
.acttextwhite {
    color:rgb(175, 52, 25);
    font-size: 2rem;
}
